.people{
    background-color:maroon;
    font-size:25px;

}
#me{
    background-color: midnightblue;
}
.search-form{
    font-size:25px;
}
#place{
    font-size: 25px;
}
#repos{
    background-color: bisque;
}