<form action="" class="search-form">
  <div class="form-group">
    <input type="text" class="form-control" id="place" placeholder="Search git users with user name" [(ngModel)]="username"
      name="username" (keyup)="findProf()">
  </div>
</form>
<div *ngIf="prof">
  <div class="panel-heading" id="place">
    {{prof.name}} <small>({{prof.login}})</small>
  </div>
  <div class="panel body">
    <div class="row">
      <div class="col-sm-3">
        <img src="{{prof.avatar_url}}"  alt="profile Image">
      </div>
      <div class="col-sm-5">
      
      </div>
      <div class="col-sm-4">
        <div class="people">
          <p>
            <span class="label label-default">{{prof.followers}} Followers</span>
            <span class="label label-primary">Following{{prof.followers}} </span>
            <span class="label label-success">{{prof.public_gists}} Public gists</span>
            <span class="label label-info">{{prof.public_repositories}} Public public_repositories</span>
          </p>
          <p><a href="{{prof.html_url}}" target="_blank" class="btn btn-success btn-sm" id="me">View profile on github</a>
          </p>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Repositories</h3>
            </div>
            <div class="panel-body" *ngFor='let repositories of repositories'>
              <p id="repos">
                {{repositories.name}} <a href="{{repositories.html_url}}" class="btn btn-warning" target="_blank">View this project on github</a>
              </p>
              <p>{{repositories.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>