<div *ngIf="profile">
  <div class="panel panel-default">
    <div class="panel-header">
      {{profile.name}}<small> ({{profile.login}})</small>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class ="col-3">
                <img src="{{profile.avatar_url}}" alt="image profile">
            </div>
            <div class="col-5"><div class="panel-body">
              <div class="row">
                  <div class ="col-3">
                      <img src="{{profile.avatar_url}}" alt="image profile">
                  </div>
                  <div class="col-5">
                    <ul class="list">
                      <li class="item"*ngIf="profile.bio">{{profile.bio}}</li>                <li class="item"*ngIf="profile.bio">{{profile.bio}}</li>
                      <li class="item"*ngIf="profile.bio">{{profile.bio}}</li>
                      <li class="item"*ngIf="profile.bio">{{profile.bio}}</li>
      
                    </ul>
                  </div>
              </div>
          </div>
              <ul class="list">
                <li class="item"*ngIf="profile.bio">{{profile.bio}}</li>                <li class="item"*ngIf="profile.bio">{{profile.bio}}</li>
                <li class="item"*ngIf="profile.bio">{{profile.bio}}</li>
                <li class="item"*ngIf="profile.bio">{{profile.bio}}</li>

              </ul>
            </div>
        </div>
    </div>
  </div>
</div>
